In [1]:
#Importing all the needed libraries 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
#read the file and rename it df
df_train= pd.read_csv("train2.csv", index_col=0)

df_test = pd.read_csv("test_explanatory.csv", index_col=0)

In [3]:
#infos on the database just imported
df_train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10427 entries, 0 to 10426
Data columns (total 14 columns):
dteday          10427 non-null object
hr              10427 non-null int64
holiday         10427 non-null int64
weekday         10427 non-null int64
workingday      10427 non-null int64
season_t        10427 non-null object
weather         10427 non-null object
temperature     10427 non-null float64
s_temp          10427 non-null float64
humidity        10427 non-null int64
winds           10427 non-null float64
n_employee      10427 non-null float64
exp_employee    10427 non-null float64
occupancy       10427 non-null int64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.2+ MB

In [4]:
df_test.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6952 entries, 0 to 6951
Data columns (total 13 columns):
dteday          6952 non-null object
hr              6952 non-null int64
holiday         6952 non-null int64
weekday         6952 non-null int64
workingday      6952 non-null int64
season_t        6952 non-null object
weather         6952 non-null object
temperature     6952 non-null float64
s_temp          6952 non-null float64
humidity        6952 non-null int64
winds           6952 non-null float64
n_employee      6952 non-null float64
exp_employee    6952 non-null float64
dtypes: float64(5), int64(5), object(3)
memory usage: 760.4+ KB

In [5]:
#Check the Null Values
df_train.isna().sum()

dteday          0
hr              0
holiday         0
weekday         0
workingday      0
season_t        0
weather         0
temperature     0
s_temp          0
humidity        0
winds           0
n_employee      0
exp_employee    0
occupancy       0
dtype: int64

In [6]:
df_test.isna().sum

<bound method DataFrame.sum of       dteday     hr  holiday  weekday  workingday  season_t  weather  \
0      False  False    False    False       False     False    False
1      False  False    False    False       False     False    False
2      False  False    False    False       False     False    False
3      False  False    False    False       False     False    False
4      False  False    False    False       False     False    False
5      False  False    False    False       False     False    False
6      False  False    False    False       False     False    False
7      False  False    False    False       False     False    False
8      False  False    False    False       False     False    False
9      False  False    False    False       False     False    False
10     False  False    False    False       False     False    False
11     False  False    False    False       False     False    False
12     False  False    False    False       False     False    False
13     False  False    False    False       False     False    False
14     False  False    False    False       False     False    False
15     False  False    False    False       False     False    False
16     False  False    False    False       False     False    False
17     False  False    False    False       False     False    False
18     False  False    False    False       False     False    False
19     False  False    False    False       False     False    False
20     False  False    False    False       False     False    False
21     False  False    False    False       False     False    False
22     False  False    False    False       False     False    False
23     False  False    False    False       False     False    False
24     False  False    False    False       False     False    False
25     False  False    False    False       False     False    False
26     False  False    False    False       False     False    False
27     False  False    False    False       False     False    False
28     False  False    False    False       False     False    False
29     False  False    False    False       False     False    False
...      ...    ...      ...      ...         ...       ...      ...
6922   False  False    False    False       False     False    False
6923   False  False    False    False       False     False    False
6924   False  False    False    False       False     False    False
6925   False  False    False    False       False     False    False
6926   False  False    False    False       False     False    False
6927   False  False    False    False       False     False    False
6928   False  False    False    False       False     False    False
6929   False  False    False    False       False     False    False
6930   False  False    False    False       False     False    False
6931   False  False    False    False       False     False    False
6932   False  False    False    False       False     False    False
6933   False  False    False    False       False     False    False
6934   False  False    False    False       False     False    False
6935   False  False    False    False       False     False    False
6936   False  False    False    False       False     False    False
6937   False  False    False    False       False     False    False
6938   False  False    False    False       False     False    False
6939   False  False    False    False       False     False    False
6940   False  False    False    False       False     False    False
6941   False  False    False    False       False     False    False
6942   False  False    False    False       False     False    False
6943   False  False    False    False       False     False    False
6944   False  False    False    False       False     False    False
6945   False  False    False    False       False     False    False
6946   False  False    False    False       False     False    False
6947   False  False    False    False       False     False    False
6948   False  False    False    False       False     False    False
6949   False  False    False    False       False     False    False
6950   False  False    False    False       False     False    False
6951   False  False    False    False       False     False    False

      temperature  s_temp  humidity  winds  n_employee  exp_employee
0           False   False     False  False       False         False
1           False   False     False  False       False         False
2           False   False     False  False       False         False
3           False   False     False  False       False         False
4           False   False     False  False       False         False
5           False   False     False  False       False         False
6           False   False     False  False       False         False
7           False   False     False  False       False         False
8           False   False     False  False       False         False
9           False   False     False  False       False         False
10          False   False     False  False       False         False
11          False   False     False  False       False         False
12          False   False     False  False       False         False
13          False   False     False  False       False         False
14          False   False     False  False       False         False
15          False   False     False  False       False         False
16          False   False     False  False       False         False
17          False   False     False  False       False         False
18          False   False     False  False       False         False
19          False   False     False  False       False         False
20          False   False     False  False       False         False
21          False   False     False  False       False         False
22          False   False     False  False       False         False
23          False   False     False  False       False         False
24          False   False     False  False       False         False
25          False   False     False  False       False         False
26          False   False     False  False       False         False
27          False   False     False  False       False         False
28          False   False     False  False       False         False
29          False   False     False  False       False         False
...           ...     ...       ...    ...         ...           ...
6922        False   False     False  False       False         False
6923        False   False     False  False       False         False
6924        False   False     False  False       False         False
6925        False   False     False  False       False         False
6926        False   False     False  False       False         False
6927        False   False     False  False       False         False
6928        False   False     False  False       False         False
6929        False   False     False  False       False         False
6930        False   False     False  False       False         False
6931        False   False     False  False       False         False
6932        False   False     False  False       False         False
6933        False   False     False  False       False         False
6934        False   False     False  False       False         False
6935        False   False     False  False       False         False
6936        False   False     False  False       False         False
6937        False   False     False  False       False         False
6938        False   False     False  False       False         False
6939        False   False     False  False       False         False
6940        False   False     False  False       False         False
6941        False   False     False  False       False         False
6942        False   False     False  False       False         False
6943        False   False     False  False       False         False
6944        False   False     False  False       False         False
6945        False   False     False  False       False         False
6946        False   False     False  False       False         False
6947        False   False     False  False       False         False
6948        False   False     False  False       False         False
6949        False   False     False  False       False         False
6950        False   False     False  False       False         False
6951        False   False     False  False       False         False

[6952 rows x 13 columns]>

In [7]:
#basic desciptive statistics
df_train.describe(include="all")

,dteday,hr,holiday,weekday,workingday,season_t,weather,temperature,s_temp,humidity,winds,n_employee,exp_employee,occupancy
count,10427,10427.000000,10427.000000,10427.000000,10427.000000,10427,10427,10427.000000,10427.000000,10427.000000,10427.000000,10427.000000,10427.000000,10427.000000
unique,731,NaN,NaN,NaN,NaN,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2011-07-08,NaN,NaN,NaN,NaN,fall,Clear,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,20,NaN,NaN,NaN,NaN,2702,6805,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,11.586171,0.026949,3.002302,0.680253,NaN,NaN,20.414831,23.847285,62.713820,12.713916,2.336256,15.134561,191.480100
std,NaN,6.920372,0.161943,2.014953,0.466401,NaN,NaN,7.901815,8.603002,19.345313,8.182245,0.467820,8.806866,183.072824
min,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.820000,0.000000,0.000000,0.000000,1.670000,0.000000,1.000000
25%,NaN,6.000000,0.000000,1.000000,0.000000,NaN,NaN,13.940000,16.665000,48.000000,7.000000,2.000000,7.430000,40.000000
50%,NaN,12.000000,0.000000,3.000000,1.000000,NaN,NaN,20.500000,24.240000,63.000000,11.000000,2.330000,15.000000,145.000000
75%,NaN,18.000000,0.000000,5.000000,1.000000,NaN,NaN,27.060000,31.060000,79.000000,17.000000,2.670000,22.860000,282.000000
max,NaN,23.000000,1.000000,6.000000,1.000000,NaN,NaN,41.000000,49.240000,100.000000,57.000000,3.000000,30.290000,976.000000

In [8]:
#To get dummy variables
df_train=pd.get_dummies(df_train, columns=['season_t','weather'],drop_first=True)

In [9]:
df_test=pd.get_dummies(df_test, columns=['season_t','weather'],drop_first=True)

In [10]:
#transforming the variable of dtday into a number to trait into the model
month = []
import datetime as dt

date=df_train['dteday']
a=len(date)
for i in range(a) :
    d = dt.datetime.strptime(date[i], "%Y-%m-%d")
    month.insert(i,d.month)
month
month_df= pd.DataFrame(month)
month_df.head()

df_train['month'] = month


import time
seq = range(10427)
time_epoch = np.array(seq)
for i in seq:
    time_epoch[i] = time.mktime(time.strptime(df_train.iloc[i,0], '%Y-%m-%d'))
df2=df_train
df2["dteday"]=time_epoch

In [11]:
#transforming the variable of dtday into a number to trait into the model
month = []
import datetime as dt

date=df_test['dteday']
a=len(date)
for j in range(a) :
    d = dt.datetime.strptime(date[j], "%Y-%m-%d")
    month.insert(j,d.month)
month
month_df= pd.DataFrame(month)
month_df.head()

df_test['month'] = month


import time
seq = range(6952)
time_epoch = np.array(seq)
for j in seq:
    time_epoch[j] = time.mktime(time.strptime(df_test.iloc[j,0], '%Y-%m-%d'))
df3=df_test
df3["dteday"]=time_epoch

In [12]:
# visualize the relationship between the features and the response using scatterplots
%matplotlib inline
sns.pairplot(df_train, x_vars=df.columns, y_vars='occupancy')

NameError: name 'df' is not defined

In [ ]:
#We can visualise the correlation using a heatmap in Seaborn

%matplotlib inline

plt.figure(figsize = (15,15))
sns.heatmap(data=df.corr().round(2), cmap='coolwarm', linewidths=.5, annot=True, annot_kws={"size":12})
plt.show()

In [12]:
# first drop --> to create X and y and remove the temperature which has high correlation with s_temp
X=df_train
X.drop("temperature", axis = 'columns', inplace=True)
y=X[["occupancy"]]
X.drop("occupancy", axis = 'columns', inplace=True)

In [13]:
#drop after the summary and p-values checking --> done initilinear regression, but it doesn't affect the random forest
X.drop("n_employee", axis = 'columns', inplace=True)
X.drop("exp_employee", axis = 'columns', inplace=True)
X.drop("season_t_spring", axis = 'columns', inplace=True)
X.drop("weather_Snow", axis = 'columns', inplace=True)
X.drop("winds", axis = 'columns', inplace=True)

In [14]:
df_test.drop("temperature", axis = 'columns', inplace=True)
df_test.drop("n_employee", axis = 'columns', inplace=True)
df_test.drop("exp_employee", axis = 'columns', inplace=True)
df_test.drop("season_t_spring", axis = 'columns', inplace=True)
df_test.drop("weather_Snow", axis = 'columns', inplace=True)
df_test.drop("winds", axis = 'columns', inplace=True)

In [15]:
df_train.head()

,dteday,hr,holiday,weekday,workingday,s_temp,humidity,season_t_summer,season_t_winter,weather_Cloudy,weather_LightRain,month
0,1305756000,1,0,4,1,24.240,94,1,0,0,0,5
1,1345327200,18,0,0,0,29.545,78,0,0,1,0,8
2,1316815200,8,0,6,0,27.275,90,0,1,1,0,9
3,1352070000,4,0,1,1,14.395,52,0,1,1,0,11
4,1321052400,0,0,6,0,12.120,60,0,1,0,0,11

In [16]:
df_test.head()

,dteday,hr,holiday,weekday,workingday,s_temp,humidity,season_t_summer,season_t_winter,weather_Cloudy,weather_LightRain,month
0,1340402400,19,0,6,0,34.850,27,0,0,0,0,6
1,1325458800,20,1,1,0,11.365,41,0,0,0,0,1
2,1319752800,2,0,5,1,15.150,66,0,1,0,0,10
3,1338242400,19,0,2,1,35.605,52,1,0,0,0,5
4,1295478000,0,0,4,1,11.365,56,0,0,0,0,1

In [ ]:
#We can visualise the correlation using a heatmap in Seabornn after the drop

%matplotlib inline

plt.figure(figsize = (15,15))
sns.heatmap(data=df.corr().round(2), cmap='coolwarm', linewidths=.5, annot=True, annot_kws={"size":12})
plt.show()

In [17]:
#Split
from sklearn.model_selection import train_test_split

#X_train, X_test, y_train, y_test = train_test_split(X,y,
 #                                                   test_size=0.3,
  #                                                  random_state=123)

#X_test.reset_index(inplace=True)
#X_train.reset_index(inplace=True)
#y_test.reset_index(inplace=True)
#y_train.reset_index(inplace=True)
X.reset_index(inplace=True)
y.reset_index(inplace=True)
df_test.reset_index(inplace =True)
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler(copy = True)
X_train_scaled = scaler.fit_transform(X[["dteday", "hr","s_temp", "humidity", "month"]])
X_train_scaled=pd.DataFrame(X_train_scaled)
#test
X_test_scaled = scaler.transform(df_test[["dteday", "hr","s_temp", "humidity", "month"]])
X_test_scaled=pd.DataFrame(X_test_scaled)


X[["dteday", "hr","s_temp", "humidity","month"]]=X_train_scaled[[0,1,2,3,4]]
df_test[["dteday", "hr","s_temp", "humidity","month"]]=X_test_scaled[[0,1,2,3,4]]

X.drop("index", axis = 'columns', inplace=True)
df_test.drop("index", axis = 'columns', inplace=True)
y.drop("index", axis = 'columns', inplace=True)
#y_test.drop("index", axis = 'columns', inplace=True)


X.isnull().sum()
df_test.isnull().sum()

C:\Users\lckwo\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

dteday               0
hr                   0
holiday              0
weekday              0
workingday           0
s_temp               0
humidity             0
season_t_summer      0
season_t_winter      0
weather_Cloudy       0
weather_LightRain    0
month                0
dtype: int64

# Model creation and results

In [18]:
#Random Forest
from sklearn.ensemble import RandomForestRegressor 
import numpy as np

regressor = RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=400,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)
parameters ={} #"n_estimators":[2000], "criterion": ['mse'], 
              #"min_samples_leaf": [0.1,1], "random_state" : [123]}

regressor

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=400,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [ ]:
#DEFINE YOUR GRIDSEARCH 
from sklearn.model_selection import GridSearchCV
gs = GridSearchCV(regressor, parameters, cv=5, n_jobs=-1, verbose=5, refit=True) #with no params it reduces to a CV

gs = gs.fit(X_train,y_train)

#summarize the results of your GRIDSEARCH
print('**GRIDSEARCH RESULTS**')
print("Best score: %f using %s" % (gs.best_score_, gs.best_params_))
means = gs.cv_results_['mean_test_score']
stds = gs.cv_results_['std_test_score']
params = gs.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

    #test on hold-out
gs.score(X_train, y_train)
gs.score(X_test, y_test)

In [ ]:
#cross validation and vsualization of the different results of cv
from sklearn.model_selection import cross_val_score
MAEs = cross_val_score(estimator= regressor, X=X_train, y=y_train, scoring='neg_mean_absolute_error', cv=10)
set(MAEs)

In [ ]:
#test on hold-out
from sklearn import metrics
gs.score(X_test, y_test)

print("MAE train: ", metrics.mean_absolute_error(y_train, gs.predict(X_train))) 
print("MSE train: ",metrics.mean_squared_error(y_train, gs.predict(X_train)))
print("RMSE train: ",np.sqrt(metrics.mean_squared_error(y_train, gs.predict(X_train))))
print("r2: ",np.sqrt(metrics.r2_score(y_train, gs.predict(X_train))))

print("MAE test: ", metrics.mean_absolute_error(y_test, gs.predict(X_test))) 
print("MSE test: ",metrics.mean_squared_error(y_test, gs.predict(X_test)))
print("RMSE test: ",np.sqrt(metrics.mean_squared_error(y_test, gs.predict(X_test))))
print("r2: ",np.sqrt(metrics.r2_score(y_test, gs.predict(X_test))))

In [19]:
#predicting the test set results
regressor.fit(X, y)
y_pred = regressor.predict(df_test)

C:\Users\lckwo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [20]:
y_pred

array([382.4425, 105.265 ,  11.575 , ...,  60.5075, 218.7625,  32.1075])

In [23]:
df1=pd.DataFrame(y_pred)

In [24]:
df1.head()

          0
0  384.4125
1  104.5325
2   11.4500
3  547.4250
4   11.7700

In [ ]:
y_pred.drop(0, axis = 'columns', inplace=True)

In [ ]:
y_pred.head()

In [ ]:
y_predicted=y_pred[1]

In [ ]:
y_predicted

# Summary and relevancy of features

In [ ]:
import statsmodels.api as sm
from scipy import stats

X_train = sm.add_constant(X_train)
#If we want to add a constant to our model
X_train = X_train.iloc[:,:]
est = sm.OLS(y_train,X_train)
est_fit = est.fit()
est_fit.params

In [ ]:
print(est_fit.summary())

In [ ]:
maxVar = max(est_fit.pvalues)
maxVar

In [ ]:
X_train.head()

In [ ]:
X_test.head()

In [ ]:
# In order to perform the graphic analysis of the errors we need to drop the const column
X_train.drop("const", axis = "columns", inplace = True )

In [ ]:
#errors distribution
error_train=regressor.predict(X_train)-y_train.to_numpy().flatten()
error_test=regressor.predict(X_test)-y_test.to_numpy().flatten()

%matplotlib inline
import matplotlib.pyplot as plt
plt.scatter(gs.predict(X_train),error_train, c="b", label="training data")
plt.scatter(gs.predict(X_test),error_test, c="g", label="test data")
plt.xlabel("Predicted Values")
plt.ylabel("Residuals")
plt.legend(loc="upper left")
plt.hlines(y=0, xmin=-1, xmax=50, color="r")
plt.show()

In [ ]:
from sklearn.preprocessing import StandardScaler
y_train_np = pd.DataFrame.to_numpy(y_train)
y_test_np= pd.DataFrame.to_numpy(y_test)

error_train=regressor.predict(X_train)-y_train_np
error_test=regressor.predict(X_test)-y_test_np


error_train = np.array(error_train).reshape(-1,1)
scaled_error_train = StandardScaler(copy=False).fit(error_train).transform(error_train).flatten()
scaled_error_test = StandardScaler(copy=False).fit(error_test).transform(error_test).flatten()

In [ ]:
import statsmodels.api as sm
from matplotlib import pyplot as plt

fig = sm.qqplot(scaled_error_train,line='45')
plt.show()

In [ ]:
import scipy

# We test a uniform distribution
dist = getattr(scipy.stats, 'norm')
    
# We generate a sample of size  len(mr_scaled) of data distributed according to distribution dist
# The function rvs generates a sample with distribution dist with mean loc and std scale
test_dist = dist.rvs(0,1,size = len(scaled_error_train))
test_dist.sort()

# We create the percentiles for both distributions
percs = np.linspace(0,100,21)
q_b = np.percentile(scaled_error_train, percs)
q_a = np.percentile(test_dist, percs)

# and generate the QQ-plot 
plt.plot(q_a,q_b, ls="", marker="o")
plt.title("QQ plot")
x = np.linspace(np.min((q_a.min(),q_b.min())), np.max((q_a.max(),q_b.max())))
plt.plot(x,x, color="k", ls="--")
plt.show()

# Estraction of the prediction

In [21]:
#SAVE YOUR PREDICTION on a CSV file named with your StudentID
df = pd.DataFrame(y_pred, columns=["target"])
df.to_csv("917043.csv",index = False)